@model FinalProje.Models.Products

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Product Deletion Page</h1>

<h3>Are You Sure You Want to Delete This Product?</h3>
<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductPicture)
        </dt>
        <dd class="col-sm-10">
            <img src="~/Products/@Model.ProductPicture" height="50px" width="50px" alt="Product Image" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ProductId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Return to List</a>
    </form>
</div>
